version: "3.8"

services:
  app:
    build:
      context: .
    volumes:
      - ./docker/app/99-xdebug.ini:/usr/local/etc/php/conf.d/99-xdebug.ini:ro
      - ./docker/app/docker-entrypoint.d:/docker-entrypoint.d:ro
      - ./src:/app
    environment:
      PHP_IDE_CONFIG: "serverName=Docker"
      APP_SLOWING_ENABLED: true
      APP_SLOWING_MIN_MICROSECONDS: 1000
      APP_SLOWING_MAX_MICROSECONDS: 5000
    ports:
      - "8080:8080"
